<div class="voyage-expedition">
  <div class="voyage-name">
    <div class="voyage-header">
      <%= render partial: "includes/voyage/name", locals: { voyage: voyage } %>
      <%= render partial: "includes/voyage/duration", locals: { voyage: voyage } %>
    </div>
    <%= image_tag(voyage.image.url) %>
    <div class="voyage-hover">
      <%= render partial: "includes/voyage/name", locals: { voyage: voyage } %>
      <div class="ship-name"><%= voyage.ship.name %></div>
      <%= render partial: "includes/voyage/duration", locals: { voyage: voyage } %>
      <div class="voyage-description">
        <%= simple_format(voyage.overview_tile) %>
      </div>
    </div>
  </div>
  <div class="voyage-footer">
    <a href="<%= voyage_path(voyage) %>" target="_blank"><span>Explore</span></a>
    <a data-voyage-id="<%= voyage.id %>" class="voyage-star favourite-voyage">
      <i class="fa <%= voyage_in_wishlist?(voyage) ? 'fa-star' : 'fa-star-o' %>"></i>
    </a>
  </div>
</div>
