<section class="confirmed_itinerary_page">
  <h3>Confirmed itinerary</h3>
  <h5>My iExpedition</h5>
  <hr>
  <div class="text-uppercase">Upcoming voyage</div>
  <% if @order.nil? %>
    <span>No order for user <%= current_user.email %></span>
  <% else %>
    <div class="row mt16">
      <div class="col-lg-6 col-md-6">
        <%= image_tag(@order.voyage.image) %>
      </div>
      <div class="col-lg-6 col-md-6">
        <h4>voyage</h4>
        <div class="buttons-group flex">
          <%= link_to 'print itinerary', print_itinerary_path(@order.id) , class: 'btn btn-voyage-filled', target: '_blank' %>
          <%= link_to 'send to email', send_itinerary_to_email_path, method: :post, remote: true, class: 'btn btn-voyage', data: { disable_with: 'sending...' } %>
        </div>
        <div class="details">
          <div><span>Passengers:</span>
            <ul style="list-style-type: decimal;padding-left:4%;color:black;font-size:15px;">
              <li><%= "#{current_user.first_name} #{current_user.last_name}" %></li>
              <% @order.passengers.each do |passenger| %>
                <li><%= "#{passenger.first_name} #{passenger.last_name}" %></li>
              <% end -%>
            </ul>
          </div>
          <div><span>Ship Name: <%= @order.voyage.ship.name %></span></div>
          <div><span>Operator Details: <%= @order.voyage.ship.operator.name %></span></div>
          <div class="no-mb"><span>Embarkation Port: <%= @order.voyage.embark_port %></span></div>
          <div><span>Date & Time: <%= @order.voyage.formatted_start_date %></span></div>
          <div class="no-mb"><span>Disembarkation Port: <%= @order.voyage.disembark_port %></span></div>
          <div><span>Date & Time: <%= @order.voyage.formatted_end_date %></span></div>
        </div>
      </div>
    </div>
  <% end -%>
  <div class="row">
    <div class="col-md-12">
      <div class="tabbed-content button-tabs mt16">
        <ul class="tabs">
          <li class="active">
            <div class="tab-title">
              <span>itinerary</span>
            </div>
            <div class="tab-content voyage-itinerary-tab expand">
              <h5 class="pull-left open-all"><span class="relative">+</span> Expand all</h5>
              <h5 class="pull-left pl16 close-all"><span>-</span> Collapse all</h5>
              <%= render partial: "includes/voyage/itinerary_tab", locals: { voyage: @voyage } %>
            </div>
          </li>
          <li>
            <div class="tab-title">
              <span>cabins & extras</span>
            </div>
            <div class="tab-content">
              <% if @order %>
                <%= render partial: "includes/dashboard/cabins_and_extras", locals: { order: @order } %>
              <% end -%>
            </div>
          </li>
          <li>
            <div class="tab-title">
              <span>important info</span>
            </div>
            <div class="tab-content">
              <%= render partial: "includes/dashboard/important_information" %>
            </div>
          </li>
          <li>
            <div class="tab-title">
              <span>important docs</span>
            </div>
            <div class="tab-content videos">
              <% if @order && @order.voyage.destination.name == "Antarctica" %>
                <%= render partial: "includes/important_docs_antarctica" %>
              <% else %>
                <%= render partial: "includes/important_docs_arctic" %>
              <% end -%>
            </div>
          </li>
          <li>
            <div class="tab-title">
              <span>vouchers</span>
            </div>
            <div class="tab-content">
              <% if @order %>
                <% if @order.vouchers.present? %>
                  <h1>Vouchers</h1>
                  <ul>
                    <% @order.vouchers.each do |voucher| %>
                      <li><%= link_to voucher.link_name, voucher.document.url, target: '_blank', class: 'fz15' %></li>
                    <% end %>
                  </ul>
                <% else %>
                  <h1>There are no vouchers</h1>
                <% end %>
              <% end -%>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>