<div class="col-sm-12 mt32">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <%= image_tag("theme-images/prop1.jpg") %>
      </li>
      <li>
        <%= image_tag("theme-images/prop2.jpg") %>
      </li>
      <li>
        <%= image_tag("theme-images/prop3.jpg") %>
      </li>
      <li>
        <%= image_tag("theme-images/prop1.jpg") %>
      </li>
      <li>
        <%= image_tag("theme-images/prop2.jpg") %>
      </li>
      <li>
        <%= image_tag("theme-images/prop3.jpg") %>
      </li>
    </ul>
  </div>
</div>
