<footer class="footer-2 bg-ix pt-xs-40">
  <div class="container">
    <div class="row mb-xs-24">
      <div class="footer-info col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <h6 class="uppercase mb8">iexpedition</h6>
        <ul>
          <li><a href="#">iX Community</a></li>
          <li><a href="<%= search_voyages_path %>">Destinations</a></li>
          <li><a href="<%= search_ships_path %>">Expedition Vessels</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="footer-info col-lg-2 col-md-2 col-sm-4">
        <h6 class="uppercase mb8">help & support</h6>
        <ul>
          <li><a href="<%= contact_us_path %>">FAQs</a></li>
          <li><a href="<%= contact_us_path %>">Contact Us</a></li>
          <li><a href="<%= travel_resources_path %>">Travel Resources</a></li>
          <li><a href="#">Payment & Currency</a></li>
          <li><a href="#">Booking Confirmation</a></li>
        </ul>
      </div>

      <div class="footer-info col-lg-offset-0 col-lg-2 col-md-offset-0 col-md-2 col-sm-offset-0 col-sm-4 col-xs-offset-3 col-xs-6">
        <h6 class="uppercase mb8">follow us</h6>
        <ul class="social-list">
          <li><a href="https://www.facebook.com/iExpedition-962346843828511/">
            <i class="ti-facebook"></i><span class="pl8 social-heading">Facebook</span>
          </a></li>
          <li><a href="#">
            <i class="ti-instagram"></i><span class="pl8 social-heading">Instagram</span>
          </a></li>
          <li><a href="#">
            <i class="ti-dribbble"></i><span class="pl8 social-heading">Blog</span>
          </a></li>
        </ul>
      </div>

      <% unless controller_name == "dashboard" %>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 not-clearI">
          <form action="//iexpedition.us12.list-manage.com/subscribe/post?u=27883ec09a85095dc609436d3&amp;id=6c8f3078cc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate footer-send-section" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <label for="mce-EMAIL" class="email-footer-label">Subscribe to our newsletter and receive a $150 expedition voucher</label>
              <input type="email" value="" name="EMAIL" class="email email-footer-input" id="mce-EMAIL" placeholder="email" required />
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_27883ec09a85095dc609436d3_6c8f3078cc" tabindex="-1" value="">
              </div>
              <div class="clear not-clearI send-btn-wrap">
                <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="btn submit-footer-button">
              </div>
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      <% end -%>
    </div>
    <hr>
    <div class="row mb-xs-24">
      <div class="col-md-2 col-sm-4">
        <%= image_tag("footer-icon.png") %>
      </div>

      <div class="col-md-5 col-sm-4">
        <h6 class="uppercase mb8">most popular ships</h6>
        <ul>
          <table class="footer-ships">
            <% popular_ships.each_slice(2) do |slice| %>
              <tr>
                <% slice.each do |ship| %>
                  <td><%= link_to ship.name, ship_path(ship.id) %></td>
                <% end -%>
              </tr>
            <% end -%>
          </table>
        </ul>
      </div>

      <div class="col-md-5 col-sm-4">
        <h6 class="uppercase mb8">most popular destinations</h6>
        <ul>
          <table class="footer-destinations">
            <% popular_destinations.each_slice(2) do |slice| %>
              <tr>
                <% slice.each do |destination| %>
                  <td><%= link_to destination.name, destination_path(destination.id) %></td>
                <% end -%>
              </tr>
            <% end -%>
          </table>
        </ul>
      </div>
    </div>
    <div class="row fade-half">
      <div class="col-sm-12 text-left">
        <span style="color: #fff;">© Copyright 2017 - iExpedition</span>
      </div>
    </div>
  </div>
  <div class="container-fluid footer-white-bar mt32">
    <div class="row">
      <div class="col-xs-12">
        <span class="pr32">iExpedition ABN <b>90 615 816 003</b></span>
        <span class="pl32">iExpedition PTY LTD Lic </span>
      </div>
    </div>
  </div>
</footer>