<nav class="nav-centered">
  <div class="nav-utility">
      <div class="module right">
          <a href="#" class="sub mr8">FAQs</a>
          <a href="#" class="sub mr8">Contact Us</a>
          <a href="#" class="sub mr8">Travel Resources</a>
          <a href="#" class="sub mr8">Small Ships</a>
          <a href="#" class="sub mr8">Expedition</a>
          <a href="#" class="sub mr8">About Us</a>
      </div>
  </div>
  <div class="text-center">
    <a href="#">
      <div class="vnu">
        <%= image_tag("iexpedition-text.png", class: "logo logo-dark") %>
      </div>
    </a>
  </div>

  <div class="nav-bar text-center">
    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
      <i class="ti-menu"></i>
    </div>
    <div class="module-group text-left">
      <div class="module left widget-handle">
        <ul class="menu">
          <li>
            <a href="#">Why ixpedition </a>
          </li><li class="vpf">
            <a href="<%= search_antarctica_voyages_path %>">Antarctic</a>
          </li><li class="vpf">
            <a href="<%= search_arctic_voyages_path %>">The arctic</a>
          </li><li class="has-dropdown">
            <a href="<%= search_ships_path %>">Expedition ships</a>
            <ul>
              <% Ship.first(20).each do |ship| %>
                <li>
                  <a href="<%= ship_path(ship) %>"><%= ship.name %></a>
                </li>
              <% end -%>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>