<nav class="nav-centered">
  <div class="nav-utility">
    <div class="header-width">
      <div class="module right">
        <%= link_to "FAQs", contact_us_path %>
        <%= link_to "Contact Us", contact_us_path %>
        <%= link_to "Travel Resources", travel_resources_path %>
        <%= link_to "Expedition Travel", expedition_travel_path %>
        <%= link_to "About Us", about_us_path %>
        <!-- TODO: Delete sign out link from here -->
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to sign out?" } %>
      </div>
    </div>
  </div>
  <div class="nav-icons header-icons header-width no-border">
    <div class="module-group left">
      <div class="module left user-module">
        <ul class="menu">
          <li class="has_dropdown">
            <% if current_user %>
              <%= link_to(destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to sign out?" }, style: "opacity: 1;") do %>
                <i class="ti-user icon"></i>
              <% end -%>
              <ul>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to sign out?" } %>
                </li>
              </ul>
            <% else %>
              <%= link_to(new_user_session_path, style: "opacity: 1;") do %>
                <i class="ti-user icon"></i>
              <% end -%>
              <ul>
                <li>
                  <%= link_to "Sign in", new_user_session_path %>
                </li>
                <li>
                  <%= link_to "Sign up", new_user_registration_path %>
                </li>
              </ul>
            <% end -%>
          </li>
        </ul>
      </div>
      <%= link_to(search_voyages_path, class: "module right search-module") do %>
        <i class="ti-search icon"></i>
      <% end -%>
    </div>
    <div class="module-group right">
      <%= link_to(wishlist_path, class: "module left star-module") do %>
        <i class="ti-star icon"></i>
      <% end -%>
      <div class="module widget-handle cart-widget-handle right">
        <% if @order.present? %>
            <div class="cart">
              <i class="ti-bag"></i>
              <span class="label number" id="order_items_count"><%= @order.order_items.count %></span>
            </div>
            <div class="function">
              <div class="widget">
                <ul class="cart-overview">
                  <%= render(partial: 'includes/checkout/cart_items', locals: { order_items: @order.order_items }) %>
                </ul>
                <hr>
                <hr>
                <div class="cart-controls">
                  <div class="list-inline pull-left">
                    <span class="number" id="price"><%= @order.decorate.total_or_with_discount %></span>
                  </div>
                  <a class="btn pull-right mb12i" href="#">Checkout</a>
                </div>
              </div>
              <!--end of widget-->
            </div>
      <% else %>
            <div class="cart">
              <i class="ti-bag"></i>
            </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="text-center logo-row">
    <div class="header-width relative">
      <a href="<%= root_path %>">
        <div class="vnu">
          <%= image_tag("iexpedition-text.png", class: "logo logo-dark") %>
        </div>
      </a>
      <div class="module telephone-module right clear">
        <span class="ti-headphone-alt icon"></span>
        <span>1800 960 577</span>
      </div>
    </div>
  </div>

  <div class="nav-bar text-center">
    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
      <i class="ti-menu"></i>
    </div>
    <div class="module-group text-left">
      <div class="module left widget-handle">
        <ul class="menu">
          <li>
            <a href="#">Why ixpedition </a>
          </li><li class="vpf">
            <%= link_to "Antarctica", search_antarctica_voyages_path %>
          </li><li class="vpf">
            <%= link_to "The Arctic", search_arctic_voyages_path %>
          </li><li class="has-dropdown">
            <a href="<%= search_ships_path %>">Expedition ships</a>
            <ul>
              <% Ship.first(20).each do |ship| %>
                <li>
                  <%= link_to ship.name, ship_path(ship) %>
                </li>
              <% end -%>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center sub-header">
    <i>Your expedition starts here</i>
    </a>
  </div>
</nav>
