<% is_checkout_activity = (controller_name == "checkout") && (resource.class.name == "Activity") %>
<% is_order_item = resource.class.name == "OrderItem" %>
<% image = is_order_item ? resource.productable.image : resource.image %>
<div class="horizontal-tile flex m-md-flex-column-reverse">
  <div class="tile-right bg-secondary <%= is_checkout_activity ? 'md-w40 m-md-w100 flex-column' : 'md-w60 m-md-w100 flex-column' %>">
    <%= render partial: "includes/horizontal_tile_text", locals: { resource: resource } %>
    <% if is_checkout_activity %>
      <%= render partial: "includes/checkout/order_activity_form", locals: { resource: resource } %>
    <% end -%>
  </div>
  <div class="tile-left <%= is_checkout_activity ? 'md-w60 m-md-w100 flex-column' : 'md-w40 m-md-w100 flex-column' %>">
    <div>
      <div class="background-image-holder fadeIn" style="background: url("<%= image %>");">
        <img alt="image" class="background-image" src="<%= image %>" style="display: none;">
      </div>
    </div>
  </div>
</div>