<div class="overflow">
  <table>
    <tr>
      <td>Antarctica Cruise General Guidelines</td>
      <td>
        <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_ha3lsaHJfRUNwc1U', 'https://drive.google.com/open?id=0B7BrSJsFEb_ha3lsaHJfRUNwc1U', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>Antarctica Visitor Guidelines</td>
      <td>
        <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hNmxLSDZrRm1xTmM', 'https://drive.google.com/open?id=0B7BrSJsFEb_hNmxLSDZrRm1xTmM', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>Clothing Decontamination Guidelines</td>
      <td>
        <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_ha3BQZTF6ak5uNlE', 'https://drive.google.com/open?id=0B7BrSJsFEb_ha3BQZTF6ak5uNlE', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>Do Not Pack A Pest</td>
      <td>
        <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hTzZZRVc3N0hYQ0U', 'https://drive.google.com/open?id=0B7BrSJsFEb_hTzZZRVc3N0hYQ0U', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>Antarctica & Drones (UAV)</td>
      <td>
        <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hWlgzR0xZU2thbU0', 'https://drive.google.com/open?id=0B7BrSJsFEb_hWlgzR0xZU2thbU0', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>General Information for Wildlife Watching</td>
      <td>
        <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hU2xHaHpxOVZIaWM', 'https://drive.google.com/open?id=0B7BrSJsFEb_hU2xHaHpxOVZIaWM', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>IAATO Cetacean Guidelines</td>
      <td>
        <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hT2FBQUZyRlRtUnM', 'https://drive.google.com/open?id=0B7BrSJsFEb_hT2FBQUZyRlRtUnM', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>IAATO Birdwatching Guidelines</td>
      <td>
        <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hSWJKVjNFVlVEcFE', 'https://drive.google.com/open?id=0B7BrSJsFEb_hSWJKVjNFVlVEcFE', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>IAATO Leopard Seal Watching Guidelines</td>
      <td>
        <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hQlFkUFlNM0JNRmc', 'https://drive.google.com/open?id=0B7BrSJsFEb_hQlFkUFlNM0JNRmc', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>IAATO Kayaking Underwater Activity Guidelines</td>
      <td>
        <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hTnZCZ0ZvX1hPaDg', 'https://drive.google.com/open?id=0B7BrSJsFEb_hTnZCZ0ZvX1hPaDg', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>Antarctica ClimateChange</td>
      <td>
        <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hRWxhSGdPbmx4SVE', 'https://drive.google.com/open?id=0B7BrSJsFEb_hRWxhSGdPbmx4SVE', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>IAATO Celebrating 25 Years</td>
      <td>
        <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hMGFXNG5GNlJxeHc', 'https://drive.google.com/open?id=0B7BrSJsFEb_hMGFXNG5GNlJxeHc', target: '_blank' %>
      </td>
    </tr>
  </table>
</div>

<div class="row mt24">
  <div class="col-sm-4">
    <iframe src="https://player.vimeo.com/video/152322186?byline=0" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
    <p>
      <a href="https://vimeo.com/152322186">Briefing Cruise Visitors</a> from <a href="https://vimeo.com/iaato">IAATO</a> on <a href="https://vimeo.com">Vimeo</a>.
    </p>
  </div>
  <div class="col-sm-4">
    <iframe src="https://player.vimeo.com/video/152322185?byline=0" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
    <p>
      <a href="https://vimeo.com/152322185">Briefing Visitors Going Ashore</a> from <a href="https://vimeo.com/iaato">IAATO</a> on <a href="https://vimeo.com">Vimeo</a>.
    </p>
  </div>
  <div class="col-sm-4">
    <iframe src="https://player.vimeo.com/video/191172974" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
    <p>
      <a href="https://vimeo.com/191172974">Fly-in & Deep field visitors</a> from <a href="https://vimeo.com/iaato">IAATO</a> on <a href="https://vimeo.com">Vimeo</a>.
    </p>
  </div>
</div>