<div class="overflow">
  <table>
    <tr>
      <td>Antarctica Cruise General Guidelines</td>
      <td>
        <%=link_to 'Download', 'https://s3-ap-southeast-2.amazonaws.com/iexpedition-staging/important_documents/antarctica/1_Antarctica_Cruise_General%20Guidelines.pdf', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>Antarctica Visitor Guidelines</td>
      <td>
        <%=link_to 'Download', 'https://s3-ap-southeast-2.amazonaws.com/iexpedition-staging/important_documents/antarctica/2_Antarctica_Visitor_Guidelines.pdf', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>Clothing Decontamination Guidelines</td>
      <td>
        <%=link_to 'Download', 'https://s3-ap-southeast-2.amazonaws.com/iexpedition-staging/important_documents/antarctica/3_Clothing%20Decontamination%20Guidelines.pdf', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>Do Not Pack A Pest</td>
      <td>
        <%=link_to 'Download', 'https://s3-ap-southeast-2.amazonaws.com/iexpedition-staging/important_documents/antarctica/4_Do_Not_Pack_a_Pest_A4.pdf', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>Antarctica & Drones (UAV)</td>
      <td>
        <%=link_to 'Download', 'https://s3-ap-southeast-2.amazonaws.com/iexpedition-staging/important_documents/antarctica/5_Antarctica_%26_Drones%20%28UAV%29.pdf', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>General Information for Wildlife Watching</td>
      <td>
        <%=link_to 'Download', 'https://s3-ap-southeast-2.amazonaws.com/iexpedition-staging/important_documents/antarctica/6_General%20Information%20for%20Wildlife%20Watching%20English.pdf', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>IAATO Cetacean Guidelines</td>
      <td>
        <%=link_to 'Download', 'https://s3-ap-southeast-2.amazonaws.com/iexpedition-staging/important_documents/antarctica/7_IAATO%20Cetacean%20Guidelines%20English.pdf', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>IAATO Birdwatching Guidelines</td>
      <td>
        <%=link_to 'Download', 'https://s3-ap-southeast-2.amazonaws.com/iexpedition-staging/important_documents/antarctica/8_IAATO%20Birdwatching%20Guidelines%20English.pdf', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>IAATO Leopard Seal Watching Guidelines</td>
      <td>
        <%=link_to 'Download', 'https://s3-ap-southeast-2.amazonaws.com/iexpedition-staging/important_documents/antarctica/9_IAATO%20Leopard%20Seal%20Watching%20Guidelines%20%281%29.pdf', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>IAATO Kayaking Underwater Activity Guidelines</td>
      <td>
        <%=link_to 'Download', 'https://s3-ap-southeast-2.amazonaws.com/iexpedition-staging/important_documents/antarctica/10_IAATO_Kayaking_Underwater_activity_Guidelines.pdf', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>Antarctica ClimateChange</td>
      <td>
        <%=link_to 'Download', 'https://s3-ap-southeast-2.amazonaws.com/iexpedition-staging/important_documents/antarctica/Antarctica_ClimateChange.pdf', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>IAATO Celebrating 25 Years</td>
      <td>
        <%=link_to 'Download', 'https://s3-ap-southeast-2.amazonaws.com/iexpedition-staging/important_documents/antarctica/IAATO_Celebrating%2025%20Years.pdf', target: '_blank' %>
      </td>
    </tr>
  </table>
</div>

<div class="row mt24">
  <div class="col-sm-4">
    <iframe src="https://player.vimeo.com/video/152322186?byline=0" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
    <p>
      <a href="https://vimeo.com/152322186">Briefing Cruise Visitors</a> from <a href="https://vimeo.com/iaato">IAATO</a> on <a href="https://vimeo.com">Vimeo</a>.
    </p>
  </div>
  <div class="col-sm-4">
    <iframe src="https://player.vimeo.com/video/152322185?byline=0" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
    <p>
      <a href="https://vimeo.com/152322185">Briefing Visitors Going Ashore</a> from <a href="https://vimeo.com/iaato">IAATO</a> on <a href="https://vimeo.com">Vimeo</a>.
    </p>
  </div>
  <div class="col-sm-4">
    <iframe src="https://player.vimeo.com/video/191172974" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
    <p>
      <a href="https://vimeo.com/191172974">Fly-in & Deep field visitors</a> from <a href="https://vimeo.com/iaato">IAATO</a> on <a href="https://vimeo.com">Vimeo</a>.
    </p>
  </div>
</div>