<% destination ||= nil %>
<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
  <%= simple_form_for :search, url: search_voyages_path, method: :get do |f| %>
    <div class="row">
      <%= f.input :destinations, wrapper_html: { class: 'select-option col-md-6' }, prompt: "Select Destination", label: false, collection: Destination.all.map { |destination| [destination.name, destination.id] }, selected: destination.id %>

      <%= f.input :departure_date, wrapper_html: { class: 'select-option col-md-6' }, placeholder: 'Select Departure Date', input_html: { class: 'datepicker' }, label: false %>
    </div>
    <div class="row <%= "search-sliders" if controller_name != "pages" %>">
      <%= f.input :duration, label: false, wrapper_html: { class: "col-md-6" }, input_html: { id: "duration-slider", data: { slider_id: "durationSlider", slider_min: "1", slider_max: "50", slider_step: "1", slider_value: "10", slider_ticks: "[1, 50]", slider_ticks_labels: '["1 Day", "50 Days"]' } } %>
      <%= f.input :price, label: false, wrapper_html: { class: "col-md-6" }, input_html: { id: "price-slider", data: { slider_id: "durationSlider", slider_min: "1", slider_max: "100", slider_step: "1", slider_value: "10", slider_ticks: "[1, 100]", slider_ticks_labels: '["$1k AUD", "$100k AUD"]' } } %>
    </div>
    <div class="row">
      <div class="pt32 col-md-3 col-centered">
        <% submit_class = controller_name == "pages" ? "" : "dark-submit-btn"  %>
        <%= f.submit "Search", class: submit_class %>
      </div>
    </div>
  <% end %>
</div>