<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row mt32">
        <h5>Features & Facilities</h5>
        <ul>
          <% ship.features.each do |feature| %>
            <li><%= feature.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <h5>Key Facts</h5>
      <table class="table">
        <tbody>
          <tr>
            <td class="table-header">Luxury star rating:</td>
            <td><%= ship.luxury_star_rating %></td>
          </tr>
          <tr>
            <td class="table-header">Guests #:</td>
            <td><%= ship.passenger_capacity %></td>
          </tr>
          <tr>
            <td class="table-header">Crew #:</td>
            <td><%= ship.crew_number %></td>
          </tr>
          <tr>
            <td class="table-header">Ice Class:</td>
            <td><%= ship.ice_class %></td>
          </tr>
          <tr>
            <td class="table-header">Speed:</td>
            <td><%= ship.speed %></td>
          </tr>
          <tr>
            <td class="table-header">Refurbished:</td>
            <td><%= ship.year_refurbished.try(:strftime, '%Y') %></td>
          </tr>
        </tbody>
      </table>

      <h5 class="mt64">Technical Specs</h5>
      <table class="table">
        <tbody>
          <tr>
            <td class="table-header">Year built:</td>
            <td><%= ship.year_built.try(:strftime, '%Y') %></td>
          </tr>
          <tr>
            <td class="table-header">Length:</td>
            <td><%= ship.length %>m</td>
          </tr>
          <tr>
            <td class="table-header">Width:</td>
            <td><%= ship.width %></td>
          </tr>
          <tr>
            <td class="table-header">Draft:</td>
            <td><%= ship.draft %></td>
          </tr>
          <tr>
            <td class="table-header">Tonnage:</td>
            <td><%= ship.tonnage %></td>
          </tr>
          <tr>
            <td class="table-header">Registry:</td>
            <td><%= ship.registry %></td>
          </tr>
          <tr>
            <td class="table-header">Elec Outlets:</td>
            <td><%= ship.outlets %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% if show_gallery %>
    <div class="row mt72">
      <%= render partial: "includes/lightbox_square_thumbs", locals: { collection: ship.gallery_images } %>
    </div>
  <% end -%>
</div>