<tr>
  <td class="table-image"><%= image_tag(product.image.url(:thumb)) %></td>
  <td class="table-description">
    <h4><%= product.name %></h4>
    <p>
      <%= product.overview %>
    </p>
    <% if product.class.name == "Cabin" %>
      <%= link_to 'Change QTY', checkout_cabins_path(order_item.order.cabin_grouping.id), class: 'text-underline' %>
    <% else %>
      <%= link_to 'remove item', remove_order_item_path(order_item.id), remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-underline' %>
    <% end -%>
  </td>
  <td>
    <span class="price">
      <%= order_item.decorate.price %>
    </span>
  </td>
  <td>
    <span class="id_number"><%= order_item.qty %></span>
  </td>
  <td>
    <span class="price">
      <%= order_item.decorate.total %>
    </span>
    </td>
</tr>
<tr class="border"></tr>