<section class="cover" style="height:150px;background:#466a7e;">
  <div class="custom-container container mt16">
    <span>Home / Search & Filter / Voyage / Cabins / Extras / Cart / Checkout</span>
    <h2 style="font-weight: bolder;">Checkout</h2>
  </div>
</section>

<section class="confirm_cart">
  <div class="container custom-container">
    <div class="row">
      <div class="col-lg-12">
        <div class="steps">
          <div class="short-line"></div>
          <div class="sipmle-step fill">
            <span>1. Select your cabin</span>
          </div>
          <div class="long-line"></div>
          <div class="sipmle-step fill">
            <span>2. Choose your extras</span>
          </div>
          <div class="long-line"></div>
          <div class="sipmle-step fill">
            <span>3. Confirm your reservation</span>
          </div>
          <div class="long-line"></div>
          <div class="sipmle-step fill">
            <span>4. Personal details & deposit payment</span>
          </div>
          <div class="short-line"></div>
        </div>
      </div>
    </div>
    
    <h3>Passengers details</h3>

    <%= simple_form_for @user, as: :order_details, url: checkout_signup_path, validate: true do |f| %>
      <%= f.simple_fields_for @user, validate: true do |u| %>
        <%= render partial: "includes/checkout/user_details", locals: { u: u, user_counter: 1 } %>
      <% end -%>

      <% if @passengers_count.present? %>
        <% 2.upto(@passengers_count) do |counter| %>
            <%= f.simple_fields_for "user_#{counter}", Passenger.new, validate: true do |u| %>
                <%= render partial: "includes/checkout/user_details", locals: { u: u, user_counter: counter } %>
            <% end -%>
        <% end -%>
      <% end -%>

      <%= f.simple_fields_for @address, validate: true do |a| %>
        <%= render partial: "includes/checkout/address_details", locals: { a: a } %>
      <% end -%>

      <div class="row">
        <div class="col-md-12 label-in">
          <%= f.input :requirements, label: "Notes", as: :text, input_html: { rows: 10 } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 label-in">
          <%= f.input :password, label: "Password", input_html: { name: 'order_details[user][password]' } %>
        </div>
      </div>

      <%= f.submit "Confirm", class: "btn btn-short btn-h-50" %>
    <% end -%>

  </div>
</section>