<div class="lb-overlay" data-order="<%= index %>">
  <%= render partial: "includes/lightbox/lightbox_buttons" %>
  <div class="lb-content" data-order="<%= index %>">
    <div class="flex-column">
      <h3><%= region.name %></h3>
      <div class="big-image-container">
        <%= image_tag(region.image.url) %>
      </div>
      <%= render partial: "includes/region/descriptions", locals: { region: region } %>
      <div class="lightbox-list">
        <h4>Region Highlights</h4>
        <%= render partial: "includes/region/highlights", locals: { region: region } %>
      </div>
    </div>
  </div>
  <%= render partial: "includes/lightbox/lightbox_buttons" %>
</div>
