<li class="">
  <div class="tab-content expand">
    <h5 class="pull-left"><span class="relative">+</span> Expand all</h5>
    <h5 class="pull-left pl16"><span>-</span> Collapse all</h5>
    <ul class="clear accordion accordion-2 one-open">
      <li class="active">
        <div class="title">
          <span>Getting to your expedition</span>
        </div>
        <div class="content">
          <p>
            <em>
              Voyages to the European Arctic depart from a number of European countries depending on your expedition itinerary. The majority of voyages will depart from Longyearbyen, Svalbard or Reykjavik, Iceland, however other voyages depart from Aberdeen, Scotland and Bergen, Norway. Voyages to the North Pole on board the 50 Years of Victory depart from Murmansk, Russia.
            </em>
          </p>
          <p>
            <em>
              You will need to arrive into any of the major European hubs, before connecting through to your embarkation point. We certainly recommend arriving at your embarkation point the day prior to your scheduled embarkation, however, you can arrive on the day if you are pressed for time.
            </em>
          </p>
          <h5 class="mt24"><b><u>EUROPEAN ARCTIC PORTS</u></b></h5>
          <table>
            <thead>
              <tr>
                <th>Country</th>
                <th>Town</th>
                <th>Port Name</th>
                <th>Port Address</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Scotland</b></td>
                <td>Oban</td>
                <td>Port of Oban</td>
                <td>Oban PA34 4DB, Scotland</td>
              </tr>
              <tr>
                <td><b>Scotland</b></td>
                <td>Aberdeen</td>
                <td>Aberdeen Harbour</td>
                <td>16 Regent Quay, Aberdeen AB11 5SS, Scotland</td>
              </tr>
              <tr>
                <td><b>Norway</b></td>
                <td>Bergen</td>
                <td>Port of Bergen</td>
                <td>Nøstegaten 30, 5010 Bergen</td>
              </tr>
              <tr>
                <td><b>Norway</b></td>
                <td>Tromso</td>
                <td>Port of Tromso</td>
                <td>Kirkegt. 1, 9008 Tromsø</td>
              </tr>
              <tr>
                <td><b>Svalbard</b></td>
                <td>Longyearbyen</td>
                <td>Port of Longyearbyen</td>
                <td>Postboks 350, 9171 Longyearbyen</td>
              </tr>
              <tr>
                <td><b>Iceland</b></td>
                <td>Reykjavic</td>
                <td>Port of Reykjavik</td>
                <td>Tryggvagata 17, Reykjavik 101</td>
              </tr>
              <tr>
                <td><b>Greenland</b></td>
                <td>Constable Pynt</td>
                <td>Port of Constable Pynt (Nerlerit Inaat)</td>
                <td>Nerlerit Inaat, Greenland</td>
              </tr>
              <tr>
                <td><b>Greenland</b></td>
                <td>Kangerlussuaq</td>
                <td>Port of Kangerlussuaq</td>
                <td>Kangerlussuaq, Greenland</td>
              </tr>
            </tbody>
          </table>
          <h5 class="mt24 map"><b>Map</b></h5>
          <div class="text-center">
            <%= image_tag("map.png") %>
          </div>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Flights and Hotels</span>
        </div>
        <div class="content">
          <h5 class="mt24"><b><u>SCOTLAND: AIRPORTS & HOTELS</u></b></h5>
          <div class="overflow">
            <table class="min-pad">
              <thead>
                <tr>
                  <th>City/Town</th>
                  <th>Airport Name</th>
                  <th>Airport Code</th>
                  <th>Airlines</th>
                  <th>Transfer Fare</th>
                  <th>3 Star Hotels</th>
                  <th>4 Star Hotels</th>
                  <th>5 Star Hotel</th>
                  <th>Expedia Hotels</th>
                  <th>Airbnb Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Glasgow</b></td>
                  <td>Glasgow International Airport</td>
                  <td>GLA</td>
                  <td>
                    All major airlines
                  </td>
                  <td>Taxi AUD$</td>
                  <td>
                    Hot-el Apartments - <em>from AUD$165 p/night</em>
                    <br/>
                    <br/>
                    Glasgow Pond Hotel - <em>from AUD$110 p/night</em>
                  </td>
                  <td>
                    Glasgow Marriott Hotel
                    <br/>
                    <br/>
                    Carlton George Hotel
                    <br/>
                    <br/>
                    Millennium Hotel Glasgow - <em>from AUD$121</em>
                  </td>
                  <td>
                    Hilton Glasgow - <em>from AUD$180 p/night</em>
                    <br/>
                    <br/>
                    Raddison Blue Glasgow - <em>from AUD$150 p/night</em>
                  </td>
                  <td>
                    <%= link_to image_tag('Expedia_logo.png'), 'https://www.expedia.com.au/Glasgow-Hotels.d1334.Travel-Guide-Hotels', target: '_blank', class: 'expedia-img' %>
                  </td>
                  <td>
                    <%= link_to image_tag('airbnb-logo.png'), 'https://www.airbnb.com.au/s/Glasgow--United-Kingdom', target: '_blank' %>
                  </td>
                </tr>
                <tr>
                  <td><b>Aberdeen</b></td>
                  <td>Aberdeen International Airport</td>
                  <td>ABZ</td>
                  <td>
                    Regional international and domestic Airlines
                  </td>
                  <td>Taxi AUD$</td>
                  <td>
                    Bauhaus Hotel
                    <br/>
                    <br/>
                    The Brentwood Hotel
                    <br/>
                    <br/>
                    Aberdeen Douglas Hotel
                  </td>
                  <td>
                    The Chester Hotel - <em>from AUD$220 p/night</em>
                    <br/>
                    <br/>
                    Malmaison Aberdeen - <em>from AUD$220 p/night</em>
                    <br/>
                    <br/>
                    Skene House - Holburn
                  </td>
                  <td>Macleod House & Lodge</td>
                  <td><%= link_to image_tag('Expedia_logo.png'), 'https://www.expedia.com.au/Aberdeen-Hotels.d6054175.Travel-Guide-Hotels', target: '_blank', class: 'expedia-img' %>
                  </td>
                  <td>
                    <%= link_to image_tag('airbnb-logo.png'), 'https://www.airbnb.com.au/s/Aberdeen--Scotland--United-Kingdom?page=1&allow_override%5B%5D=&place_id=ChIJSXXXH0wFhEgRcsT0XNoFu-g&s_tag=ehg5GU-M', target: '_blank' %>
                  </td>
                </tr>
                <tr>
                  <td><b>Oban</b></td>
                  <td>Oban Airport</td>
                  <td>OBN</td>
                  <td>
                    Hebridean Air Services
                  </td>
                  <td>Taxi AUD$</td>
                  <td>
                    Oban Bay Hotel
                    <br/>
                    <br/>
                    Columbia Hotel
                    <br/>
                    <br/>
                    Lochnell Arms Hotel
                  </td>
                  <td>
                    Knipoch Hotel
                  </td>
                  <td>
                    Aspen Lodge
                    <br/>
                    <br/>
                    Isle of Eriska Hotel & Spa
                  </td>
                  <td><%= link_to image_tag('Expedia_logo.png'), 'https://www.expedia.com.au/Oban-Hotels.d9144.Travel-Guide-Hotels', target: '_blank', class: 'expedia-img' %>
                  </td>
                  <td>
                    <%= link_to image_tag('airbnb-logo.png'), 'https://www.airbnb.com.au/s/Oban--Scotland--United-Kingdom?guests=1&adults=1&children=0&infants=0&place_id=ChIJwfHd0tBBiUgRN8KPgf9K3YM&ss_id=7lzzym79&source=bb&page=1&s_tag=mq32dmiw&allow_override%5B%5D=', target: '_blank' %>
                  </td>
                </tr>
                <tr>
                  <td colspan="10"><em>Our transfer & hotel recommendations are offered as a guide only and price is subject to change. iExpedition do not book transfers or hotels.</em></td>
                </tr>
              </tbody>
            </table>
          </div>
          <h5 class="mt64"><b><u>NORWAY: AIRPORTS & HOTELS</u></b></h5>
          <div class="overflow">
            <table class="min-pad">
              <thead>
                <tr>
                  <th>City/Town</th>
                  <th>Airport Name</th>
                  <th>Airport Code</th>
                  <th>Airlines</th>
                  <th>Transfer Fare</th>
                  <th>3 Star Hotels</th>
                  <th>4 Star Hotels</th>
                  <th>5 Star Hotel</th>
                  <th>Expedia Hotels</th>
                  <th>Airbnb Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Bergen</b></td>
                  <td>Bergen Airport</td>
                  <td>BGO</td>
                  <td>
                    Most major airlines
                  </td>
                  <td>
                    Taxi AUD$
                  </td>
                  <td>
                    Scandic Neptun - <em>from AUD$210 p/night</em>
                    <br/>
                    <br/>
                    Scandic Strand - <em>from AUD$190 p/night</em>
                    <br/>
                    <br/>
                    Clarion Collective Hotel - <em>from AUD$290 p/night</em>
                  </td>
                  <td>
                    Radisson Blu Bergen
                    <br/>
                    <br/>
                    Royal - <em>from AUD$180 p/night</em>
                    <br/>
                    <br/>
                    Scandic Ørnen Hotel - <em>from AUD$230 p/night</em>
                  </td>
                  <td>
                    Villa Charlotte
                  </td>
                  <td>
                    <%= link_to image_tag('Expedia_logo.png'), 'https://www.expedia.com.au/Bergen-Hotels.d557.Travel-Guide-Hotels', target: '_blank', class: 'expedia-img' %>
                  </td>
                  <td>
                    <%= link_to image_tag('airbnb-logo.png'), 'https://www.airbnb.com.au/s/Bergen--Norway?page=1&allow_override%5B%5D=&place_id=ChIJd312ZkkNOUYRCAretD6gQp4', target: '_blank' %>
                  </td>
                </tr>
                <tr>
                  <td><b>Tromso</b></td>
                  <td>Tromsø Airport</td>
                  <td>TOS</td>
                  <td>
                    Scandinavian Airlines
                    <br/>
                    <br/>
                    Norwegian
                    <br/>
                    <br/>
                    Finair
                  </td>
                  <td>Taxi AUD$</td>
                  <td>
                    Scandic Ishavshotel - <em>from AUD$420 p/night</em>
                    <br/>
                    <br/>
                    Scandic Grand Tromso - <em>from AUD$290 p/night</em>
                  </td>
                  <td>
                    Clarion Hotel The Edge - <em>from AUD$410 p/night</em>
                    <br/>
                    <br/>
                    Radisson Blu, Tromso
                    <br/>
                    <br/>
                    Sommaroy Arctic Hotel
                  </td>
                  <td></td>
                  <td><%= link_to image_tag('Expedia_logo.png'), 'https://www.expedia.com.au/Tromso.d3512.Destination-Travel-Guides', target: '_blank', class: 'expedia-img' %>
                  </td>
                  <td>
                    <%= link_to image_tag('airbnb-logo.png'), 'https://www.airbnb.com.au/s/Troms%C3%B8--Norway?guests=1&adults=1&children=0&infants=0&place_id=ChIJ_XE7bFLExEUR075ujoXKPQI&ss_id=xjua4n96&source=bb', target: '_blank' %>
                  </td>
                </tr>
                <tr>
                  <td colspan="10"><em>Our transfer & hotel recommendations are offered as a guide only and price is subject to change. iExpedition do not book transfers or hotels</em></td>
                </tr>
              </tbody>
            </table>
          </div>
          <h5 class="mt64"><b><u>SVALBARD: AIRPORTS & HOTELS</u></b></h5>
          <div class="overflow">
            <table class="min-pad">
              <thead>
                <tr>
                  <th>City/Town</th>
                  <th>Airport Name</th>
                  <th>Airport Code</th>
                  <th>Airlines</th>
                  <th>Transfer Fare</th>
                  <th>3 Star Hotels</th>
                  <th>4 Star Hotels</th>
                  <th>5 Star Hotel</th>
                  <th>Expedia Hotels</th>
                  <th>Airbnb Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Longyearbyen</b></td>
                  <td>Svalbard Airport</td>
                  <td>LYR</td>
                  <td>
                    Scandinavian Airlines
                    <br/>
                    <br/>
                    Norwegian
                    <br/>
                    <br/>
                    Finair
                  </td>
                  <td>
                    Taxi AUD$
                  </td>
                  <td>
                    Coal Miners Cabins - <em>from AUD$250 p/night</em>
                    <br/>
                    <br/>
                    Spitsbergen Hotel  - <em>from AUD$460 p/night</em>
                  </td>
                  <td>
                    Radisson Blu Polar Hotel - <em>from AUD$520 p/night</em>
                  </td>
                  <td>
                    Villa Charlotte
                  </td>
                  <td>
                    <%= link_to image_tag('Expedia_logo.png'), 'https://www.expedia.com.au/Longyearbyen-Hotels.d2189.Travel-Guide-Hotels', target: '_blank', class: 'expedia-img' %>
                  </td>
                  <td>
                    <%= link_to image_tag('airbnb-logo.png'), 'https://www.airbnb.com.au/s/Longyearbyen--Svalbard-and-Jan-Mayen?page=1&s_tag=WnIvM8xT&allow_override%5B%5D=', target: '_blank' %>
                  </td>
                </tr>
                <tr>
                  <td colspan="10"><em>Our transfer & hotel recommendations are offered as a guide only and price is subject to change. iExpedition do not book transfers or hotels</em></td>
                </tr>
              </tbody>
            </table>
          </div>
          <h5 class="mt64"><b><u>ICELAND: AIRPORTS & HOTELS</u></b></h5>
          <div class="overflow">
            <table class="min-pad">
              <thead>
                <tr>
                  <th>City/Town</th>
                  <th>Airport Name</th>
                  <th>Airport Code</th>
                  <th>Airlines</th>
                  <th>Transfer Fare</th>
                  <th>3 Star Hotels</th>
                  <th>4 Star Hotels</th>
                  <th>5 Star Hotel</th>
                  <th>Expedia Hotels</th>
                  <th>Airbnb Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Reykjavik</b></td>
                  <td>Keflavik International Airport</td>
                  <td>KEF</td>
                  <td></td>
                  <td>
                    Taxi AUD$
                  </td>
                  <td>
                    Reykjavik Residence Hotel - <em>from AUD$420 p/night</em>
                    <br/>
                    <br/>
                    Hotel Forn - <em>from AUD$270</em>
                    <br/>
                    <br/>
                    Apartment K - <em>from AUD$240</em>
                  </td>
                  <td>
                    Radisson Blu Saga Hotel - <em>from AUD$360 p/night</em>
                    <br/>
                    <br/>
                    Hotel Odinsve - <em>from AUD$430 p/night</em>
                    <br/>
                    <br/>
                    Grand Hotel - <em>from Reykjavik AUD$380 p/night</em>
                  </td>
                  <td>
                    Diamond Suites
                  </td>
                  <td>
                    <%= link_to image_tag('Expedia_logo.png'), 'https://www.expedia.com.au/Reykjavik-Southern-Iceland-Hotels.d6054688.Travel-Guide-Hotels', target: '_blank', class: 'expedia-img' %>
                  </td>
                  <td>
                    <%= link_to image_tag('airbnb-logo.png'), 'https://www.airbnb.com.au/s/Reykjavik-?page=1&allow_override%5B%5D=&place_id=&s_tag=V83OejZQ', target: '_blank' %>
                  </td>
                </tr>
                <tr>
                  <td colspan="10"><em>Our transfer & hotel recommendations are offered as a guide only and price is subject to change. iExpedition do not book transfers or hotels</em></td>
                </tr>
              </tbody>
            </table>
          </div>
          <h5 class="mt64"><b><u>RUSSIA: AIRPORTS & HOTELS</u></b></h5>
          <div class="overflow">
            <table class="min-pad">
              <thead>
                <tr>
                  <th>City/Town</th>
                  <th>Airport Name</th>
                  <th>Airport Code</th>
                  <th>Airlines</th>
                  <th>Transfer Fare</th>
                  <th>3 Star Hotels</th>
                  <th>4 Star Hotels</th>
                  <th>5 Star Hotel</th>
                  <th>Expedia Hotels</th>
                  <th>Airbnb Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>St Petersburg</b></td>
                  <td>Pulkovo International Airport</td>
                  <td>LED</td>
                  <td>Most major European airlines</td>
                  <td>
                    Taxi AUD$
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <%= link_to image_tag('Expedia_logo.png'), 'https://www.expedia.com.au/St-Petersburg-Hotels.d180029.Travel-Guide-Hotels', target: '_blank', class: 'expedia-img' %>
                  </td>
                  <td>
                    <%= link_to image_tag('airbnb-logo.png'), 'https://www.airbnb.com.au/s/St-Petersburg--Saint-Petersburg--Russia?page=1&allow_override%5B%5D=&place_id=ChIJ7WVKx4w3lkYR_46Eqz9nx20&s_tag=38RXuRJ5', target: '_blank' %>
                  </td>
                </tr>
                <tr>
                  <td><b>Moscow</b></td>
                  <td>Domodedovo International Airport</td>
                  <td>DME</td>
                  <td>
                    Most major European airlines
                  </td>
                  <td>
                    Taxi AUD$
                  </td>
                  <td>
                    Maxima Panorama Hotel - <em>from AUD$110</em>
                    <br/>
                    <br/>
                    Arbat House Hotel - <em>from AUD$160</em>
                  </td>
                  <td>
                    Radisson Blue Hotel - <em>from AUD$210</em>
                    <br/>
                    <br/>
                    Courtyard by Marriott - <em>from AUD$240</em>
                    <br/>
                    <br/>
                    Kadashevskaya - <em>from AUD$320</em>
                  </td>
                  <td>
                    Ritz Carlton - <em>from AUD$780</em>
                    <br/>
                    <br/>
                    Four Seasons - <em>from AUD$</em>
                    <br/>
                    <br/>
                    Hotel Savoy - <em>from AUD$530</em>
                    <br/>
                    <br/>
                    Ararat Park Hyatt - <em>from AUD$630</em>
                    <br/>
                    <br/>
                    Marriot Moscow  Roayl Aurora - <em>from AUD$420</em>
                  </td>
                  <td>
                    <%= link_to image_tag('Expedia_logo.png'), 'https://www.expedia.com.au/Moscow-Hotels.d178289.Travel-Guide-Hotels', target: '_blank', class: 'expedia-img' %>
                  </td>
                  <td>
                    <%= link_to image_tag('airbnb-logo.png'), 'https://www.airbnb.com.au/s/Moscow--Russia?page=1&allow_override%5B%5D=&place_id=ChIJybDUc_xKtUYRTM9XV8zWRD0&s_tag=E5kSIwNb', target: '_blank' %>
                  </td>
                </tr>
                <tr>
                  <td><b>Murmansk</b></td>
                  <td>Murmansk Airport</td>
                  <td>MMK</td>
                  <td>
                    Nordavia
                    <br/>
                    <br/>
                    Aeroflot
                    <br/>
                    <br/>
                    KLM Royal Dutch
                  </td>
                  <td>
                    Taxi AUD$
                  </td>
                  <td>
                    Park Inn by Radisson AUD$140
                  </td>
                  <td>
                    Azimut Hotel AUD$150
                  </td>
                  <td></td>
                  <td>
                    <%= link_to image_tag('Expedia_logo.png'), 'https://www.expedia.com.au/Murmansk-Hotels.d2365.Travel-Guide-Hotels?rfrr=TG.Destinations.City.Book.Hotels', target: '_blank', class: 'expedia-img' %>
                  </td>
                  <td>
                    <%= link_to image_tag('airbnb-logo.png'), 'https://www.airbnb.com.au/s/Murmansk--Murmansk-Oblast--Russia?page=1&s_tag=8Mtei91y&allow_override%5B%5D=', target: '_blank' %>
                  </td>
                </tr>
                <tr>
                  <td colspan="10"><em>Our transfer & hotel recommendations are offered as a guide only and price is subject to change. iExpedition do not book transfers or hotels</em></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Important Destination Documents</span>
        </div>
        <div class="content">
          <div class="overflow">
            <table>
              <tr>
                <td>Antarctica Cruise General Guidelines</td>
                <td>
                  <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_ha3lsaHJfRUNwc1U', 'https://drive.google.com/open?id=0B7BrSJsFEb_ha3lsaHJfRUNwc1U', target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>Arctic_Biosecurity</td>
                <td>
                  <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hOFdmTUxmNFA4eXc', 'https://drive.google.com/open?id=0B7BrSJsFEb_hOFdmTUxmNFA4eXc', target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>Arctic Wildlife-Walrus Guidelines</td>
                <td>
                  <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hbE1HOVRNcnJ0dW8', 'https://drive.google.com/open?id=0B7BrSJsFEb_hbE1HOVRNcnJ0dW8', target: '_blank' %>
                </td>
              </tr>
            </table>
          </div>
          <div class="row mt24">
            <div class="col-xs-12">
              <iframe src="https://player.vimeo.com/video/114129102" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
      </li>
      <li class="">
        <div class="title">
          <span>Tourist Visa</span>
        </div>
        <div class="content">
          <p>
            <em>
              Please consult your local embassy for visa requirements around your expedition. European Arctic voyages travel in Scotland, Norway, Greenland, Iceland, Canada and in particular Russia. Visa requirements are constantly changing so please ensure you have checked with your local consulate as to the correct requirements for your nationality.
            </em>
          </p>
          <p>
            <em>
              RUSSIAN VISA: Should you be travelling on a trip into Russian territories, please be sure to thoroughly check all visa requirements with your iExpedition consultant.
            </em>
          </p>
          <p>
            <em>
              You must also ensure that your passport has a validity of more than six months from the day you intend to return home.
            </em>
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Travel Insurance</span>
        </div>
        <div class="content">
          <p>
            <em>
              Travel insurance inclusive of medical repatriation is mandatory across all bookings with iExpedition.
            </em>
          </p>
          <p>
            <em>
              Due to the uniqueness of the trips offered by iExpedition and the remote locations they explore, it is important that you discuss your expedition in detail with your preferred provider. At this point it is imperative that you discuss, the region’s your trip will take you and any pre-existing conditions you may have. It is a mandatory requirement of all our providers that you are covered at a high level for medical and emergency repatriation from remote and/or Polar regions.
            </em>
          </p>
          <p>
            <em>
              Should you be confirming a trip more than 365 days in advance, you may need to consider an insurance provider, which provides policies 18 months in advance. Alternatively, deposit/cancellation insurance is worth considering.
            </em>
          </p>
          <p>
            <em>
              iExpedition recommends the following insurance providers around the world.
            </em>
          </p>
          <ul>
            <li>Australian Travellers -
              <span class="pl8">
                <%=link_to 'http://www.suresave.com.au', 'http://www.suresave.com.au', target: '_blank' %>
              </span>
            </li>
            <li>New Zealand Travellers - </li>
            <li>British Travellers - </li>
            <li>European Travellers - </li>
            <li>American Travellers -
              <span class="pl8">
                <%=link_to 'https://www.travelexinsurance.com/', 'https://www.travelexinsurance.com/', target: '_blank' %>
              </span>
            </li>
            <li>Canadian Travellers - </li>
          </ul>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Expedition Checklist</span>
        </div>
        <div class="content">
          <p>
            When packing for your expedition in a polar region it is best to think of your required gear in terms of the layering technique:
          </p>
          <div class="overflow">
            <table>
              <tr>
                <td>Base Layer</td>
                <td>This is the layer closest to your skin and what will ultimately keep you from feeling cold. We recommend capilene or merino wool thermal underwear and heavy wool socks.</td>
              </tr>
              <tr>
                <td>Insulation Layer</td>
                <td>The insulation layer traps the heat generated by your thermals, so is extremely important. Loft garments are an excellent choice, alternatively items such as polar fleece are also very effective.</td>
              </tr>
              <tr>
                <td>Outer Layer</td>
                <td>This layer is what protects you from the environment and includes; boot, waterproof pants, jacket and gloves.</td>
              </tr>
            </table>
          </div>
          <div class="overflow">
            <table class="mt64">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Expedition Jacket</td>
                  <td>Some expedition operators will provide you with an expedition jacket.  Regardless of this, we suggest you always travel with a good Goretex waterproof outer. If you are required to provide a jacket, a good quality Goretex style jacket with hood is best, that will allow you to layer appropriately underneath.</td>
                </tr>
                <tr>
                  <td>Waterproof Pants</td>
                  <td>These need to be a waterproof shell with a loose fitting leg, to go over your boots.</td>
                </tr>
                <tr>
                  <td>Waterproof Gloves & Mittens</td>
                  <td>Waterproof gloves and mittens are essential. We would certainly recommend gloves with individual fingers, as you will need to be holding on to the Zodiac and for ease of taking photos.</td>
                </tr>
                <tr>
                  <td>Thermal Underwear</td>
                  <td>Good quality capilene or merino wool is best.</td>
                </tr>
                <tr>
                  <td>Polar Fleece Jacket</td>
                  <td>A polar fleece or woolen jumper is great to have on under your outer waterproof layer.</td>
                </tr>
                <tr>
                  <td>Woolen Sweaters</td>
                  <td>A woolen sweater is great underneath your expedition jacket, as you may like to take your heavy expedition jacket off when you reach the shore.</td>
                </tr>
                <tr>
                  <td>Warm trousers</td>
                  <td>You will want to have a pair of loose fitting trousers to wear underneath your waterproof pants. </td>
                </tr>
                <tr>
                  <td>Inner soles</td>
                  <td>Not essential, but inner soles, merino if possible will add comfort to your expedition boots.</td>
                </tr>
                <tr>
                  <td>Socks</td>
                  <td>Merino socks are best as they will keep your feet warm if they should get wet.</td>
                </tr>
                <tr>
                  <td>Headgear</td>
                  <td>Beanies, scarfs and neck gaiters are a must!</td>
                </tr>
                <tr>
                  <td>Sunglasses</td>
                  <td>Polarised glasses will provided added definition on bright sunny days</td>
                </tr>
                <tr>
                  <td>Binoculars</td>
                  <td>It is recommended to carry your own binoculars, so you have them with you at all times on the ships decks, zodiac and shore landings</td>
                </tr>
                <tr>
                  <td>Electrical Adaptor</td>
                  <td>All of of our ships operate with either a two flat (American) or two round (European) electrical outlets. Certainly travel with a multi-adapter that covers both and check your ship's profile page for the exact plug on board</td>
                </tr>
                <tr>
                  <td>Earplugs</td>
                  <td>These are very handy if you are a single traveller and do not know who your cabin might may be. </td>
                </tr>
                <tr>
                  <td>Sea sickness med</td>
                  <td>Sea sickness medicine is available and on board all expeditions there is a qualified doctor to provide further medication if required.If you are concerned prior to departing, definitely speak with your local GP
                  </td>
                </tr>
                <tr>
                  <td>Ski pole/ walking stick</td>
                  <td>You are welcome to travel with these, just make sure that they are collapsible type so that they can be easily packed away when travelling on Zodiacs.</td>
                </tr>
                <tr>
                  <td>Waterproof bag</td>
                  <td>A waterproof bag with a shoulder strap is very important for you shore landings to protect your camera equipment and keep your hands free to hold on.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>
    </ul>
  </div>
</li>