<li class="">
  <div class="tab-content expand">
    <h5 class="pull-left"><span class="relative">+</span> Expand all</h5>
    <h5 class="pull-left pl16"><span>-</span> Collapse all</h5>
    <ul class="clear accordion accordion-2 one-open">
      <li class="active">
        <div class="title">
          <span>Getting to your expedition</span>
        </div>
        <div class="content">
          <p>
            <em>
              Voyages to the Ross Sea & Commonwealth Bay depart from Australia and New Zealand.
            </em>
          </p>
          <p>
            <em>
              You will need to firstly arrive in either Auckland or Sydney, if you are flying in from outside Australia or New Zealand and we would suggesting arriving to the capital city a few days early. This will allow your safe arrival and to overcome any jet lag. If you reside in Australia or New Zealand you should be able to connect to your port town on the same, ensuring you arrive the day prior to embarkation
            </em>
          </p>
          <h5 class="mt24"><b><u>ROSS SEA & COMMONWEALTH BAY PORTS</u></b></h5>
          <table>
            <thead>
              <tr>
                <th>Country</th>
                <th>Town</th>
                <th>Port Name</th>
                <th>Port Address</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Australian</b></td>
                <td>Hobart</td>
                <td>Hobart Cruise Terminal</td>
                <td>Macquarie Wharf No. 2, Hunter St, Hobart TAS 7000</td>
              </tr>
              <tr>
                <td><b>New Zealand</b></td>
                <td>Bluff</td>
                <td>Bluff Cruise Port</td>
                <td>251 Foreshore Rd, Bluff 9814, New Zealand</td>
              </tr>
            </tbody>
          </table>
          <h5 class="mt24 map"><b>Map</b></h5>
          <div class="text-center">
            <%= image_tag("map.png") %>
          </div>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Flights and Hotels</span>
        </div>
        <div class="content">
          <h5 class="mt24"><b><u>ANTARCTIC PENINSULA PORTS</u></b></h5>
          <div class="overflow">
            <table class="min-pad">
              <thead>
                <tr>
                  <th>City/Town</th>
                  <th>Airport Name</th>
                  <th>Airport Code</th>
                  <th>Airlines</th>
                  <th>Transfer Fare</th>
                  <th>3 Star Hotels</th>
                  <th>4 Star Hotels</th>
                  <th>5 Star Hotel</th>
                  <th>Expedia Hotels</th>
                  <th>Airbnb Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Sydney</b></td>
                  <td>Kingsford Smith Airport</td>
                  <td>SYD</td>
                  <td>
                    All major airlines
                  </td>
                  <td>Taxi AUD$50</td>
                  <td>
                    Ibis Sydney Airport - <em>from AUD$140p/night</em>
                  </td>
                  <td>
                    Stamford Plaza Sydney Airport - <em>from AUD$180p/night</em>
                    <br/>
                    <br/>
                    Mercure Sydney International Airport - <em>from AUD$170p/night</em>
                  </td>
                  <td>
                  </td>
                  <td>
                    <%= link_to image_tag('Expedia_logo.png'), 'https://www.expedia.com.au/Sydney-Hotels.d178312.Travel-Guide-Hotels', target: '_blank', class: 'expedia-img' %>
                  </td>
                  <td>
                    <%= link_to image_tag('airbnb-logo.png'), 'https://www.airbnb.com.au/s/Sydney--Australia', target: '_blank' %>
                  </td>
                </tr>
                <tr>
                  <td><b>Hobart</b></td>
                  <td>Hobart International Airport</td>
                  <td>HBA</td>
                  <td>
                    Qantas
                    <br/>
                    <br/>
                    Jetstar
                    <br/>
                    <br/>
                    Virgin
                  </td>
                  <td>Taxi US$50</td>
                  <td>The Travelodge Hobart - <em>from AUD$170p/night</em></td>
                  <td>
                    Hotel Grand Chancellor Hobart - <em>from AUD$190p/night</em>
                    <br/>
                    <br/>
                    Hadley’s Orient Hotel - <em>from AUD$140p/night</em>
                    <br/>
                    <br/>
                    Old Woolstore Apartment Hotel - <em>from AUD$180p/night</em>
                  </td>
                  <td>Salamanca Inn - <em>from AUD$300p/night</em></td>
                  <td><%= link_to image_tag('Expedia_logo.png'), 'https://www.expedia.com.au/Hobart-Hotels.d6052485.Travel-Guide-Hotels', target: '_blank', class: 'expedia-img' %>
                  </td>
                  <td>
                    <%= link_to image_tag('airbnb-logo.png'), 'https://www.airbnb.com.au/s/hobart--Australia?page=1&s_tag=AqB-2WZt&allow_override%5B%5D=', target: '_blank' %>
                  </td>
                </tr>
                <tr>
                  <td colspan="10">Our transfer & hotel recommendations are offered as a guide only and price is subject to change. iExpedition do not book transfers or hotels.</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h5 class="mt64"><b><u>NEW ZEALAND: AIRPORTS & HOTELS</u></b></h5>
          <div class="overflow">
            <table class="min-pad">
              <thead>
                <tr>
                  <th>City/Town</th>
                  <th>Airport Name</th>
                  <th>Airport Code</th>
                  <th>Airlines</th>
                  <th>Transfer Fare</th>
                  <th>3 Star Hotels</th>
                  <th>4 Star Hotels</th>
                  <th>5 Star Hotel</th>
                  <th>Expedia Hotels</th>
                  <th>Airbnb Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Auckland</b></td>
                  <td>Auckland Airport</td>
                  <td>AKL</td>
                  <td>
                    All major airlines
                  </td>
                  <td>
                    Taxi AU$80
                    <br/>
                    <br/>
                    Shuttle AU$35pp
                  </td>
                  <td></td>
                  <td>
                    The Quadrant Hotel & Suites
                  </td>
                  <td>
                    Hotel de Brett
                    <br/>
                    <br/>
                    St Marys Residence Private
                    <br/>
                    <br/>
                    The Langham Hotel
                  </td>
                  <td>
                    <%= link_to image_tag('Expedia_logo.png'), 'https://www.expedia.com.au/Auckland-Hotels.d178233.Travel-Guide-Hotels', target: '_blank', class: 'expedia-img' %>
                  </td>
                  <td>
                    <%= link_to image_tag('airbnb-logo.png'), 'https://www.airbnb.com.au/s/Auckland--New-Zealand?page=1&allow_override%5B%5D=&place_id=ChIJ--acWvtHDW0RF5miQ2HvAAU&s_tag=l8Wmim89', target: '_blank' %>
                  </td>
                </tr>
                <tr>
                  <td><b>Invercargill</b></td>
                  <td>Invercargil Airport</td>
                  <td>IVC</td>
                  <td>
                    Air NZ
                    <br/>
                    <br/>
                    Virgin
                  </td>
                  <td>Taxi US$</td>
                  <td>
                    Victoria Railway Hotel
                    <br/>
                    <br/>
                    Colonial on Tay
                  </td>
                  <td>
                    Kelvin Hotel
                    <br/>
                    <br/>
                    Ascot Park Hotel
                    <br/>
                    <br/>
                    Invercargill Quest Services Apartments
                  </td>
                  <td></td>
                  <td><%= link_to image_tag('Expedia_logo.png'), 'https://www.expedia.com.au/Invercargill-Hotels.d1646.Travel-Guide-Hotels', target: '_blank', class: 'expedia-img' %>
                  </td>
                  <td>
                    <%= link_to image_tag('airbnb-logo.png'), 'https://www.airbnb.com.au/s/Invercargill--Southland--New-Zealand?page=1&allow_override%5B%5D=&place_id=ChIJ12kUrJTE0qkRIKSW54jvAAo&s_tag=I0L0jQSo', target: '_blank' %>
                  </td>
                </tr>
                <tr>
                  <td colspan="10">Our transfer & hotel recommendations are offered as a guide only and price is subject to change. iExpedition do not book transfers or hotels.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Important Destination Documents</span>
        </div>
        <div class="content">
          <div class="overflow">
            <table>
              <tr>
                <td>Antarctica Cruise General Guidelines</td>
                <td>
                  <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_ha3lsaHJfRUNwc1U', 'https://drive.google.com/open?id=0B7BrSJsFEb_ha3lsaHJfRUNwc1U', target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>Antarctica Visitor Guidelines</td>
                <td>
                  <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hNmxLSDZrRm1xTmM', 'https://drive.google.com/open?id=0B7BrSJsFEb_hNmxLSDZrRm1xTmM', target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>Clothing Decontamination Guidelines</td>
                <td>
                  <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_ha3BQZTF6ak5uNlE', 'https://drive.google.com/open?id=0B7BrSJsFEb_ha3BQZTF6ak5uNlE', target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>Do Not Pack A Pest</td>
                <td>
                  <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hTzZZRVc3N0hYQ0U', 'https://drive.google.com/open?id=0B7BrSJsFEb_hTzZZRVc3N0hYQ0U', target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>Antarctica & Drones (UAV)</td>
                <td>
                  <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hWlgzR0xZU2thbU0', 'https://drive.google.com/open?id=0B7BrSJsFEb_hWlgzR0xZU2thbU0', target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>General Information for Wildlife Watching</td>
                <td>
                  <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hU2xHaHpxOVZIaWM', 'https://drive.google.com/open?id=0B7BrSJsFEb_hU2xHaHpxOVZIaWM', target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>IAATO Cetacean Guidelines</td>
                <td>
                  <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hT2FBQUZyRlRtUnM', 'https://drive.google.com/open?id=0B7BrSJsFEb_hT2FBQUZyRlRtUnM', target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>IAATO Birdwatching Guidelines</td>
                <td>
                  <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hSWJKVjNFVlVEcFE', 'https://drive.google.com/open?id=0B7BrSJsFEb_hSWJKVjNFVlVEcFE', target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>IAATO Leopard Seal Watching Guidelines</td>
                <td>
                  <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hQlFkUFlNM0JNRmc', 'https://drive.google.com/open?id=0B7BrSJsFEb_hQlFkUFlNM0JNRmc', target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>IAATO Kayaking Underwater Activity Guidelines</td>
                <td>
                  <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hTnZCZ0ZvX1hPaDg', 'https://drive.google.com/open?id=0B7BrSJsFEb_hTnZCZ0ZvX1hPaDg', target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>Antarctica ClimateChange</td>
                <td>
                  <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hRWxhSGdPbmx4SVE', 'https://drive.google.com/open?id=0B7BrSJsFEb_hRWxhSGdPbmx4SVE', target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>IAATO Celebrating 25 Years</td>
                <td>
                  <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hMGFXNG5GNlJxeHc', 'https://drive.google.com/open?id=0B7BrSJsFEb_hMGFXNG5GNlJxeHc', target: '_blank' %>
                </td>
              </tr>
            </table>
          </div>

          <div class="row mt24">
            <div class="col-sm-4">
              <iframe src="https://player.vimeo.com/video/152322186?byline=0" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
              </iframe>
              <p>
                <a href="https://vimeo.com/152322186">Briefing Cruise Visitors</a> from <a href="https://vimeo.com/iaato">IAATO</a> on <a href="https://vimeo.com">Vimeo</a>.
              </p>
            </div>
            <div class="col-sm-4">
              <iframe src="https://player.vimeo.com/video/152322185?byline=0" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
              </iframe>
              <p>
                <a href="https://vimeo.com/152322185">Briefing Visitors Going Ashore</a> from <a href="https://vimeo.com/iaato">IAATO</a> on <a href="https://vimeo.com">Vimeo</a>.
              </p>
            </div>
            <div class="col-sm-4">
              <iframe src="https://player.vimeo.com/video/191172974" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
              </iframe>
              <p>
                <a href="https://vimeo.com/191172974">Fly-in & Deep field visitors</a> from <a href="https://vimeo.com/iaato">IAATO</a> on <a href="https://vimeo.com">Vimeo</a>.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Tourist Visa</span>
        </div>
        <div class="content">
          <p>
            <em>
              Please consult your local embassy for visa requirements to Australia and New Zealand.  Visa requirements are constantly changing so please ensure you have checked with your local consulate as to the correct requirements for your nationality.
            </em>
          </p>
          <p>
            <em>
              You must also ensure that your passport has a validity of more than six months from the day you intend to return home. All passengers, including Australian and New Zealand citizens must travel with their passports on these expeditions.
            </em>
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Travel Insurance</span>
        </div>
        <div class="content">
          <p>
            <em>
              Travel insurance inclusive of medical repatriation is mandatory across all bookings with iExpedition. 
            </em>
          </p>
          <p>
            <em>
              Due to the uniqueness of the trips offered by iExpedition and the remote locations they explore, it is important that you discuss your expedition in detail with your preferred provider. At this point it is imperative that you discuss, the region’s your trip will take you and any pre-existing conditions you may have. It is a mandatory requirement of all our providers that you are covered at a high level for medical and emergency repatriation from remote and/or Polar regions.
            </em>
          </p>
          <p>
            <em>
              Should you be confirming a trip more than 365 days in advance, you may need to consider an insurance provider, which provides policies 18 months in advance. Alternatively, deposit/cancellation insurance is worth considering.
            </em>
          </p>
          <p>
            <em>
              iExpedition recommends the following insurance providers around the world.
            </em>
          </p>
          <ul>
            <li>Australian Travellers - 
              <span class="pl8">
                <%=link_to 'http://www.suresave.com.au', 'http://www.suresave.com.au', target: '_blank' %>
              </span>
            </li>
            <li>New Zealand Travellers - </li>
            <li>British Travellers - </li>
            <li>European Travellers - </li>
            <li>American Travellers - 
              <span class="pl8">
                <%=link_to 'https://www.travelexinsurance.com/', 'https://www.travelexinsurance.com/', target: '_blank' %>
              </span>
            </li>
            <li>Canadian Travellers - </li>
          </ul>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Expedition Checklist</span>
        </div>
        <div class="content">
          <p>
            When packing for your expedition in a polar region it is best to think of your required gear in terms of the layering technique:
          </p>
          <div class="overflow">
            <table>
              <tr>
                <td>Base Layer</td>
                <td>This is the layer closest to your skin and what will ultimately keep you from feeling cold. We recommend capilene or merino wool thermal underwear and heavy wool socks.</td>
              </tr>
              <tr>
                <td>Insulation Layer</td>
                <td>The insulation layer traps the heat generated by your thermals, so is extremely important. Loft garments are an excellent choice, alternatively items such as polar fleece are also very effective.</td>
              </tr>
              <tr>
                <td>Outer Layer</td>
                <td>This layer is what protects you from the environment and includes; boot, waterproof pants, jacket and gloves.</td>
              </tr>
            </table>
          </div>
          <div class="overflow">
            <table class="mt64">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Expedition Jacket</td>
                  <td>Some expedition operators will provide you with an expedition jacket.  Regardless of this, we suggest you always travel with a good Goretex waterproof outer. If you are required to provide a jacket, a good quality Goretex style jacket with hood is best, that will allow you to layer appropriately underneath.</td>
                </tr>
                <tr>
                  <td>Waterproof Pants</td>
                  <td>These need to be a waterproof shell with a loose fitting leg, to go over your boots.</td>
                </tr>
                <tr>
                  <td>Waterproof Gloves & Mittens</td>
                  <td>Waterproof gloves and mittens are essential. We would certainly recommend gloves with individual fingers, as you will need to be holding on to the Zodiac and for ease of taking photos.</td>
                </tr>
                <tr>
                  <td>Thermal Underwear</td>
                  <td>Good quality capilene or merino wool is best.</td>
                </tr>
                <tr>
                  <td>Polar Fleece Jacket</td>
                  <td>A polar fleece or woolen jumper is great to have on under your outer waterproof layer.</td>
                </tr>
                <tr>
                  <td>Woolen Sweaters</td>
                  <td>A woolen sweater is great underneath your expedition jacket, as you may like to take your heavy expedition jacket off when you reach the shore.</td>
                </tr>
                <tr>
                  <td>Warm trousers</td>
                  <td>You will want to have a pair of loose fitting trousers to wear underneath your waterproof pants. </td>
                </tr>
                <tr>
                  <td>Inner soles</td>
                  <td>Not essential, but inner soles, merino if possible will add comfort to your expedition boots.</td>
                </tr>
                <tr>
                  <td>Socks</td>
                  <td>Merino socks are best as they will keep your feet warm if they should get wet.</td>
                </tr>
                <tr>
                  <td>Headgear</td>
                  <td>Beanies, scarfs and neck gaiters are a must!</td>
                </tr>
                <tr>
                  <td>Sunglasses</td>
                  <td>Polarised glasses will provided added definition on bright sunny days</td>
                </tr>
                <tr>
                  <td>Binoculars</td>
                  <td>It is recommended to carry your own binoculars, so you have them with you at all times on the ships decks, zodiac and shore landings</td>
                </tr>
                <tr>
                  <td>Electrical Adaptor</td>
                  <td>All of of our ships operate with either a two flat (American) or two round (European) electrical outlets. Certainly travel with a multi-adapter that covers both and check your ship's profile page for the exact plug on board</td>
                </tr>
                <tr>
                  <td>Earplugs</td>
                  <td>These are very handy if you are a single traveller and do not know who your cabin might may be. </td>
                </tr>
                <tr>
                  <td>Sea sickness med</td>
                  <td>Sea sickness medicine is available and on board all expeditions there is a qualified doctor to provide further medication if required.If you are concerned prior to departing, definitely speak with your local GP
                  </td>
                </tr>
                <tr>
                  <td>Ski pole/ walking stick</td>
                  <td>You are welcome to travel with these, just make sure that they are collapsible type so that they can be easily packed away when travelling on Zodiacs.</td>
                </tr>
                <tr>
                  <td>Waterproof bag</td>
                  <td>A waterproof bag with a shoulder strap is very important for you shore landings to protect your camera equipment and keep your hands free to hold on.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>
    </ul>
  </div>
</li>