<section class="cover fullscreen overlay parallax">
  <div class="background-image-holder">
    <%= image_tag("homepage-hero.png") %>
  </div>
  <div class="container v-align-transform">
    <div class="row">
      <%= render partial: "includes/reusable_search_form" %>
    </div>
  </div>
</section>
<div class="container page-container">
  <div class="mt64 row">
    <div class="col-sm-6">
      <a href="<%= search_antarctica_voyages_path %>">
        <%= image_tag("explore-antarctica.png") %>
      </a>
    </div>
    <div class="col-sm-6">
      <a href="<%= search_arctic_voyages_path %>">
        <%= image_tag("explore-arctic.png") %>
      </a>
    </div>
  </div>
  <div class="mt24 row">
    <div class="col-sm-12">
      <a href="<%= search_ships_path %>">
        <%= image_tag("explore-ships.png") %>
      </a>
    </div>
  </div>

  <h5 class="divider">
    <span>Featured Antarctica Expeditions</span>
  </h5>
  <div class="row mt32">
    <%= render partial: "includes/horizontal_voyage_tiles", locals: { collection: Voyage.destinations(2).sample(3) } %>
  </div>
  <h5 class="divider">
    <span>Featured Arctic Expeditions</span>
  </h5>
  <div class="row mt32">
    <%= render partial: "includes/horizontal_voyage_tiles", locals: { collection: Voyage.destinations(1).sample(3) } %>
  </div>

  <h5 class="divider clear">
    <span style="text-transform: none;">WHY iEXPEDITION</span>
  </h5>

  <div class="row">
    <div class="col-sm-6 col-centered">
      <span><em>Our unique understanding of the expedition industry, allows us to present an array of experiences that we can tailor to your style of expedition travel.  As an iExpeditioner you will have access to select range of expeditions that will allow you to explore from Pole to Pole and beyond.</em></span>
    </div>
  </div>

  <div class="row mt64 mb64">
    <div class="col-md-3">
      <h6 class="uppercase mb8 letter">iexpedition difference</h6>
      <p class="lead mb16">
        <em>
          At iExpeditions’ we believe information and knowledge is key to ensuring you have a superior expedition experience, we have developed a unique platform to assist you in managing and organising your expedition from the beginning to the end.
        </em>
      </p>
    </div>
    <div class="col-md-3">
      <h6 class="uppercase mb8">here to help</h6>
      <p class="lead mb16">
        <em>
          At iExpeditions our team is available to assist you 7 days a week via telephone, email, Live Chat or Facebook Messenger.
        </em>
      </p>
    </div>
    <div class="col-md-3">
      <h6 class="uppercase mb8">faq</h6>
      <p class="lead mb16">
        <em>
          With over 20 years experience, we have created an extensive list of frequently asked questions that will assist you in preparing for your expedition.
        </em>
      </p>
    </div>
    <div class="col-md-3">
      <h6 class="uppercase mb8">about us</h6>
      <p class="lead mb16">
        <em>
          The iExpeditions team has over 20 years experience in developing unique itineraries for clients to the Polar regions and beyond.  We are dedicated team of travel professionals, who have passionately dedicated themselves to the destinations we sell.
        </em>
      </p>
    </div>
  </div>
</div>
