<section class="cover fullscreen overlay parallax">
  <div class="background-image-holder">
    <%= image_tag("homepage-hero.png") %>
  </div>
  <div class="container v-align-transform">
    <div class="row">
      <%= render partial: "includes/reusable_search_form" %>
    </div>
  </div>
</section>
<div class="container page-container">
  <div class="mt64 row">
    <div class="col-sm-6">
      <a href="<%= search_antarctica_voyages_path %>">
        <%= image_tag("explore-antarctica.png") %>
      </a>
    </div>
    <div class="col-sm-6">
      <a href="<%= search_arctic_voyages_path %>">
        <%= image_tag("explore-arctic.png") %>
      </a>
    </div>
  </div>
  <div class="mt24 row">
    <div class="col-sm-12">
      <a href="<%= search_ships_path %>">
        <%= image_tag("explore-ships.png") %>
      </a>
    </div>
  </div>

  <h5 class="divider">
    <span>Featured Antarctica Expeditions</span>
  </h5>
  <div class="row mt32">
    <%= render partial: "includes/horizontal_voyage_tiles", locals: { collection: Voyage.destinations(1).sample(3) } %>
  </div>
  <h5 class="divider">
    <span>Featured Arctic Expeditions</span>
  </h5>
  <div class="row mt32">
    <%= render partial: "includes/horizontal_voyage_tiles", locals: { collection: Voyage.destinations(2).sample(3) } %>
  </div>

  <h5 class="divider clear">
    <span>Why iExpedition</span>
  </h5>

  <div class="row">
    <div class="col-sm-6 col-centered">
      <span>Find exactly what you are looking for with our advanced search technology & manage your booking from one convenient place.</span>
    </div>
  </div>

  <div class="row mt64 mb64">
    <div class="col-md-3">
      <h6 class="uppercase mb8">ixpedition difference</h6>
      <p class="lead mb16">
        Lorem ipsum Sint est laboris in anim deserunt dolore amet et qui occaecat sit qui. Lorem ipsum Voluptate laborum est dolor consequat laborum velit.
      </p>
      <a class="btn-sm btn" href="#">More</a>
    </div>
    <div class="col-md-3">
      <h6 class="uppercase mb8">about us</h6>
      <p class="lead mb16">
        Lorem ipsum Sint est laboris in anim deserunt dolore amet et qui occaecat sit qui. Lorem ipsum Voluptate laborum est dolor consequat laborum velit.
      </p>
      <a class="btn-sm btn" href="#">More</a>
    </div>
    <div class="col-md-3">
      <h6 class="uppercase mb8">we are here to help</h6>
      <p class="lead mb16">
        Lorem ipsum Sint est laboris in anim deserunt dolore amet et qui occaecat sit qui. Lorem ipsum Voluptate laborum est dolor consequat laborum velit.
      </p>
      <a class="btn-sm btn" href="#">More</a>
    </div>
    <div class="col-md-3">
      <h6 class="uppercase mb8">about us</h6>
      <p class="lead mb16">
        Lorem ipsum Sint est laboris in anim deserunt dolore amet et qui occaecat sit qui. Lorem ipsum Voluptate laborum est dolor consequat laborum velit.
      </p>
      <a class="btn-sm btn" href="#">More</a>
    </div>
  </div>
</div>
