<div class="dashboard-sidebar">
  <h5>My profile</h5>
  <ul class="nav nav-tabs nav-stacked">
    <li role="presentation" class="<%= ['home', 'personal_details'].include?(action_name) ? 'active' : '' %>"><a href="<%= dashboard_personal_details_path %>">Personal details</a></li>
    <li role="presentation" class="<%= action_name == 'order_history' ? 'active' : '' %>"><a href="<%= dashboard_order_history_path %>">Order history</a></li>
    <li role="presentation" class="<%= action_name == 'payments' ? 'active' : '' %>"><a href="<%= dashboard_payments_path %>">Payments</a></li>
    <li role="presentation" class="<%= action_name == 'confirmed_itinerary' ? 'active' : '' %>"><a href="<%= dashboard_confirmed_itinerary_path %>">Confirmed Itinerary</a></li>
    <li role="presentation" class="<%= action_name == 'wishlist' ? 'active' : '' %>"><a href="<%= dashboard_wishlist_path %>">Favourite Voyages</a></li>
  </ul>
</div>