<div class="ship-wrap col-sm-12 col-md-6">
  <div class="ship-pile">
    <div class="ship-header">
      <%= render partial: "includes/ship/name", locals: { ship: ship } %>
    </div>
    <%= image_tag("ship-listing.png") %>
    <div class="ship-hover">
      <%= render partial: "includes/ship/name", locals: { ship: ship } %>
      <%= render partial: "includes/ship/data", locals: { ship: ship } %>
      <div class="ship-description">
        <%= simple_format("Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim laborum eum, modi nemo consectetur qui perferendis debitis.") %>
      </div>
    </div>
  </div>
  <div class="ship-footer">
    <a href="#"><span>Explore</span></a>
    <span class="voyage-star">
      <%= image_tag("star.png", :data => { :toggle => "tooltip" }, :title=> "add to wish list" )  %>
    </span>
  </div>
</div>
