<div class="ship-wrap col-sm-12 col-md-6">
  <div class="ship-pile">
    <div class="ship-header">
      <%= render partial: "includes/ship/name", locals: { ship: ship } %>
    </div>
    <%= image_tag("ship-listing.png") %>
    <div class="ship-hover">
      <%= render partial: "includes/ship/name", locals: { ship: ship } %>
      <%= render partial: "includes/ship/data", locals: { ship: ship } %>
      <div class="ship-description">
        <%= simple_format(ship.overview_tile) %>
      </div>
    </div>
  </div>
  <div class="ship-footer">
    <a href="<%= ship_path(ship) %>"><span>Explore</span></a>
    <a class="voyage-star favourite-ship" data-ship-id="<%= ship.id %>" data-toggle="tooltip" data-original-title="add to wishlist">
      <i class="fa <%= ship_in_wishlist?(ship) ? 'fa-star' : 'fa-star-o' %>"></i>
    </a>
  </div>
</div>
