<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
    <div class="row">
      <%= f.input :destinations, wrapper_html: { class: 'select-option col-md-4' }, prompt: "Select Destination", label: false, collection: Destination.all.map { |destination| [destination.name, destination.id] }, selected: [@destination.name, @destination.id] %>

      <%= f.input :departure_date, wrapper_html: { class: 'select-option col-md-4' }, placeholder: 'Select Departure Date', input_html: { class: 'datepicker', readonly: "", value: @voyage_filter_params[:departure_date] }, label: false %>

      <div class="select-option col-md-4">
        <%= f.submit "Search", class: "dark-submit-btn" %>
      </div>
    </div>
    <div class="row search-sliders">
      <%= f.input :duration, label: false, wrapper_html: { class: "col-md-4" }, input_html: { id: "duration-slider", data: { slider_id: "durationSlider", slider_min: "1", slider_max: "50", slider_step: "1", slider_value: @voyage_filter_params[:duration] || 10, slider_ticks: "[1, 50]", slider_ticks_labels: '["1 Day", "50 Days"]' } } %>
      <%= f.input :price, label: false, wrapper_html: { class: "col-md-4" }, input_html: { id: "price-slider", data: { slider_id: "priceSlider", slider_min: "1", slider_max: "100", slider_step: "1000", slider_value: @voyage_filter_params[:price] || "10000", slider_ticks: "[1000, 100000]", slider_ticks_labels: '["$1k AUD", "$100k AUD"]' } } %>
      <div class="select-option col-md-4">
        <a href="<%= search_voyages_path %>" type="button" class="btn btn-outline-secondary">Clear</a>
      </div>
    </div>
</div>