<h1>New Contact Request</h1>

<p>FIRST NAME: <%= @contact_request.first_name %></p>
<p>LAST NAME: <%= @contact_request.last_name %></p>
<p>EMAIL: <%= @contact_request.email %></p>
<p>PHONE NUMBER: <%= @contact_request.phone_number %></p>
<p>DESTINATION: <%= @contact_request.destination %></p>
<p>MONTH / YEAR OF TRAVEL: <%= @contact_request.travel_date %></p>
<p>NUMBER OF PEOPLE: <%= @contact_request.number_of_people %></p>
<p>MESSAGE: <%= @contact_request.message %></p>
